*{
	margin: 0px;
}
.cancha{
	background-color: #8CB27C;
	width: 1000px;
	height: 500px;
	position: absolute;
}
.linea{
	border:1px solid white;
	position: relative;
	width: 955px;
	height: 455px;
	left: 20px;
	top:20px;
}
.arco1{
	border:1px solid white;
	width: 100px;
	height: 190px;
	position: absolute;
	top:150px;
	left: 20px;
	display: inline-block;
}
.arco2{
	border:1px solid white;
	width: 100px;
	height: 190px;
	position: absolute;
	top:150px;
	left: 875px;
	display: inline-block;
}
.centro{
	height: 190px;
	width: 190px;
	border:1px solid white;
	border-radius: 50%;
	position: absolute;
	left: 410px;
	top:150px;
}
.pel1{
	position: absolute;
	top: 155px;
	left: 110px;
}
.pel2{
	position: absolute;
	top: 80px;
	left: 510px;		
}
.pel3{
	position: absolute;
	top: 310px;
	left: 845px;		
}